<div class="hero-unit">
<h1>Spis zamowień</h1>

<table class ="table table-striped">
  <thead>
    <tr class="info">
      <th>Uzytkownik</th>
      <th>Wartosc w zl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zamowienies.each do |zamowieny| %>
      <tr>
        <td><%= zamowieny.uzytkownik_id %></td>
        <td><%= zamowieny.wartosc_w_zl %></td>
        <td><%= link_to 'Show', zamowieny , :class => 'btn btn-mini btn-default'%></td>
        <td><%= link_to 'Edit', edit_zamowieny_path(zamowieny) , :class => 'btn btn-mini btn-primary'%></td>
        <td><%= link_to 'Destroy', zamowieny, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-mini btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zamowienie', new_zamowieny_path, :class => 'btn btn-mini btn-primary' %>
<%= link_to("Powrót", {:controller => 'dostep'}, :class => 'btn btn-default')%>
</div>