<div class="hero-unit">
<p id="notice"><%= notice %></p>
<table class ="table table-striped">
<p>
  <strong>Imie:</strong>
  <%= @uzytkownik.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @uzytkownik.nazwisko %>
</p>

<p>
  <strong>Login:</strong>
  <%= @uzytkownik.login %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @uzytkownik.password_digest %>
</p>

<p>
  <strong>Email:</strong>
  <%= @uzytkownik.email %>
</p>
  </table>

<%= link_to 'Edit', edit_uzytkownik_path(@uzytkownik), :class => 'btn btn-mini btn-primary' %> |
<%= link_to 'Back', uzytkowniks_path , :class => 'btn btn-mini btn-warning'%>

  
  
  
  </div>