<table class="table table-striped">
  

<%= form_for(@grupa) do |f| %>
  <% if @grupa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupa.errors.count, "error") %> prohibited this grupa from being saved:</h2>

      <ul>
      <% @grupa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kurs_id %><br>
    <%= f.number_field :kurs_id, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :uzytkownik_id %><br>
    <%= f.number_field :uzytkownik_id, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </table>
